[submodule "frontend"]
	path = frontend
	url = https://github.com/SV-Summer-BootCamp-Team-F/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SV-Summer-BootCamp-Team-F/backend.git
